<div class="page-header">
  <i class="fa fa-cogs fa-fw fa-4x"></i>
  <h3>设置<small>设置</small></h3>
</div>

<div class="panel panel-success">
	<div class="panel-heading">
    <h3 class="panel-title">系统初始化</h3>
  </div>
  <div class="panel-body">
    <h4>
    	<i class="fa fa-tags"></i> 
    	产品目录初始化
    	<small><a href="/erp/orgs/<%=@organization.id%>/menus/init">开始 <i class="fa fa-angle-double-right"></i></a></small>
    </h4>
  </div>
</div>