<h1>Editing language_identification_lexicon_character</h1>

<%= render 'form' %>

<%= link_to 'Show', @language_identification_lexicon_character %> |
<%= link_to 'Back', language_identification_lexicon_characters_path %>
