<%- @users.each do |user| %>
  <p><h1><a href="/users/<%= user.id %>"><%= user.email %></a><small><a href="/users/<%= user.id %>">锁定</a><a href="/users/<%= user.id %>">删除</a></small></h1></p>
<% end -%>