@import "base-x";
/**
	页面标题
	文件名：_pagehead.scss
	例子：			
	<div class="page-header">
    <i class="fa fa-file-text-o fa-fw fa-4x"></i>
    <h3>主标题<small>副标题</small></h3>
  </div>	
	作者：龙应菊
	更新时间：2014-06-10
*/
.page-header {
	font-family:Consolas, "Microsoft YaHei", "Microsoft JhengHei";
	padding:0;
	margin:0 0 $module-margin-bottom 0;
	>i {
		margin-left: 0px;
	}
	>h3 {
		margin: 0;
		display: inline-block;
		width: -webkit-calc(100% - 80px);
		width: -moz-calc(100% - 80px);
		width: calc(100% - 80px);
		>small {
			margin-top:($module-margin-bottom / 2);
			display: block;
			font-size: 14px;
			width: 100%;
			overflow: hidden;
			white-space:nowrap;
		}
	}
}
