.panel .panel-body .pull-right {
	margin-right:$panel-body-padding;
}
.panel .panel-body + .table tr > td:first-child,
.panel .panel-body + .table tr > th:first-child {
	padding-left:$panel-body-padding;
}
.panel .panel-body + .table tr > td:last-child,
.panel .panel-body + .table tr > th:last-child {
	padding-right:$panel-body-padding;
}
