<%- if @organization %>
<ol class="breadcrumb">
  <%- if @organization.new_record? %>
  <li class="active">新建组织机构</li>
  <% else %>
  <li ><a href="/erp/orgs/<%=@organization.id%>"><%=@organization.name%></a></li>
  <% end -%>
  <%- if @menu %>
  <li class="active"><%=@menu.title%></li>
  <% end -%>
</ol>
<% end -%>