<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">中草药列表</div>
  <div class="panel-body">
    <div class="pull-right">
      <a href="/ms/drugs/new" type="button" class="btn btn-info btn-sm">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加
      </a>
    </div>
    <p>中草药</p>
  </div>

  <!-- Table -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>药名</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @ms_drugs.each_with_index do |drug,i| %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= drug.name %></td>
          <td class="text_center">
            <span class="pull-right">
              <%= link_to raw('<span class="glyphicon glyphicon-chevron-right"></span>'),drug %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div>
<%= paginate @ms_drugs, :window => 3 %>
</div>