<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h2>库存<small>管理系统</small></h2>
        <p>...</p>
        <p><a href="erp/home" class="btn btn-default" role="button" >进入</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h2>药房<small>管理系统</small></h2>
        <p>...</p>
        <p><a href="ms/drugs" class="btn btn-default" role="button" >进入</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h2>用户<small>管理系统</small></h2>
        <p>...</p>
        <p><a href="users" class="btn btn-default" role="button" >进入</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h2>语言<small>分析系统</small></h2>
        <p>...</p>
        <p><a href="language_identification/lexicon/characters" class="btn btn-default" role="button" >进入</a></p>
      </div>
    </div>
  </div>
</div>