<p><h1><a href="users">用户管理系统</a></h1></p>
<p><h1><a href="language_identification/lexicon/characters">语言分析系统</a></h1></p>
<p><h1><a href="ms/drugs">药房管理系统</a></h1></p>
<p><h1><a href="erp/home">库存管理系统</a></h1></p>
