<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="/assets/erp.png" alt="...">
      <div class="caption">
        <h2>进销存<small>管理</small></h2>
        <p>进销存管理系统是一个典型的数据库应用程序，为解决账目混乱，库存不准，信息反馈不及时等问题，采用先进计算机技术而开发的，集进货、销售、存储多个环节于一体的信息系统。</p>
        <p><a href="/erp/home" class="btn btn-default" role="button" >进入</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="/assets/user.png" alt="...">
      <div class="caption">
        <h2>用户<small>管理</small></h2>
        <p>用户权限管理，一般指根据系统设置的安全规则或安全策略，用户可以访问而且只能访问自己被授权的资源，不多不少。权限管理几乎出现在任何系统里面，只要有用户和密码的系统。</p>
        <p><a href="/users" class="btn btn-default" role="button" >进入</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="/assets/drugs.png" alt="...">
      <div class="caption">
        <h2>药房<small>管理</small></h2>
        <p>医院药房是集管理、技术、经营、服务等于一体的综合性科室。药房不仅要保证提供给患者准确、质量合格的药品，而且要保证患者安全有效地使用药品，确保医疗费用更为经济合理。</p>
        <p><a href="ms/drugs" class="btn btn-default" role="button" >进入</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="/assets/lang.png" alt="...">
      <div class="caption">
        <h2>语言<small>分析</small></h2>
        <p>语义分析是编译过程的一个逻辑阶段， 语义分析的任务是对结构上正确的源程序进行上下文有关性质的审查，进行类型审查。语义分析是审查源程序有无语义错误，为代码生成阶段收集类型信息。</p>
        <p><a href="/language_identification/lexicon/characters" class="btn btn-default" role="button" >进入</a></p>
      </div>
    </div>
  </div>
</div>