<%= stylesheet_link_tag 'print', media: 'print' %>
<center class=noprint>
  <a type="btn" class="btn btn-info btn-xs printbtn">打印</a>
</center>
<div class=toprint>sdlakgh;gh;g;jg;dkjgldkjfs</div>

<script type="text/javascript">
  $(".printbtn").click(function(){
    window.print();
  });
</script>