<center class=noprint>
  <a type="btn" class="btn btn-info btn-xs printbtn">打印</a>
</center>
<div id="toprint">sdlakgh;gh;g;jg;dkjgldkjfs</div>

<script type="text/javascript">
  $(".printbtn").click(function(){
    print_element($(".toprint"));
  });
</script>