<p>您好 <%= @resource.email %>!</p>

<p>您已在HostDragon Working Office请求更改登录密码，请点击下面的链接修改您的登录密码：</p>

<p><%= link_to '修改密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>若非本人操作，请忽略此信息。</p>
<p>您的密码将不会被修改。</p>
